body{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    overflow-x: hidden;
    background-image: url(/asset/image/image_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title_bar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}
.logo_name{
    position: relative;
    left: 30px;
    color: #333;
    font-size: 1.75rem;
    font-family: "Fjord One", serif;
    font-weight: 400;
    font-style: normal;
}
.menu_items{
    position: relative;
    left: 30px;
    display: flex;
    gap: 35px;
}
.menu_items div a{
    text-decoration: none;
    font-family: roboto;
    font-size: 16px;
    transition: color 0.3s ease ;
    color: #333;
}
.menu_icon{
    display: flex;
    flex-direction: column;
    gap: 3.5px; 
    position: relative;
    left: 42.5vw;
}
.menu_icon div{
    height: 3.5px;
    width: 25px;
    border-radius: 5px;
    background-color: #333;
}
.content{
    
    position: relative;
    top: 15px;
}